*

# Git Control
!.gitignore
!.gitattributes

# Documentation
!/docs/
!/docs/assets/
!/docs/assets/**/
!/docs/**/*.md
!/docs/**/*.svg
!/docs/**/*.jpg
!/docs/**/*.png
!/docs/benchmarks/
!/docs/benchmarks/criterion/
!/docs/benchmarks/criterion/**
!README.md
!CHANGELOG.md
!llms.txt
!/LICENSE


# Rust Files
!/Cargo.toml
!/Cargo.lock
!/src/
!/src/**/
!/src/**/*.rs
!/tests/
!/tests/**/
!/tests/**/*.rs
!/tests/**/*.stderr
!/benches/
!/benches/**/
!/benches/**/*.rs
!/examples/
!/examples/**/
!/examples/**/*.rs

# Tooling
!/.github/
!/.github/**

!/deny.toml
!/.config/
!/.config/nextest.toml

# mise
!mise.toml

# Rust toolchain
!/rust-toolchain.toml

# Deny List (Ignore these files even if a parent directory is allowed)
#/ ignore top-level target
target
debug
